body{
background: #ffffff;
}
h1{
text-align: center;
color:black;
}
p{
text-align: center;
color: #000000;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
}
p strong{
color: #00ff00;
}
#logo{
width: 200px;
}

#banner-principal{
width: 100%;
}
.container{
 display: flex;
 justify-content: space-around;
 padding: 40px;
}
.conteudo{
 display: flex;
 flex-direction: column;
 text-align: center;
 align-items: center;
 }
.banner{
width: 250px;
height: 250px;
border-radius: 40%;
}
#logo{
 height: 70px;
}
.menu ul li{
 display: inline;
}

 .banner{
 width: 250px;
 height: 250px;
 margin-bottom: 20px;
 border-radius: 40%;
}
header{
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 20px;
}
header{
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 20px;
}
#video{
 background: rgba(135, 200, 120, 1);
 display: flex;
 justify-content: center;
 align-items: center;
 height: 500px;
 border-bottom: 3px solid orange;
}
#video > .container > img {
 height: 315px;
}
footer{
 text-align: center;
 padding: 20px;
}
footer > p > a{
 text-decoration: none;
 color: #000000;
}
.menu > ul > li > a{
 text-decoration: none;
 color: #000000;
 padding: 10px;
}
.menu > ul > li > a:hover{
 border-bottom: 2px solid green;
}
.menu > ul > li > a:active{
 color:green;
 border-bottom: 2px solid green;
 font-weight: 700;
}

