body{
    background-image: linear-gradient(45deg,rgb(231, 231, 231),rgb(86, 207, 106));
}
div{
        background-color: rgb(253, 253, 253);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 50px;
        border-radius: 25px;
        color: rgb(14, 0, 0);
        width: 100%;
        max-width: 420px;   /* aqui controla a largura */
        box-sizing: border-box;
}
input{
    padding: 5px;
    border: none;
    outline: none;
    font-size: 15px;
}
button{
    background-color: rgb(28, 165, 23);
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    color: white;
    font-size: 15px;
}
button:hover{
    background-color: rgb(110, 73, 158);
    cursor: pointer;
}
.logo{
    display: block;
    margin: 0 auto 20px auto; /* centraliza e dá espaço abaixo */
    max-width: 180px;
}
.formulario{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.login{
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}
.login a{
    color: blue;
    text-decoration: none;
    font-weight: bold;
}
.login a:hover{
    text-decoration: underline;
}